<div>
<p>トップページです</p>
<p>Railsの勉強を始めました。</p>
<p>これからいろいろ作ってみたいです。</p>

<p><a href = "/test">testページへ</a></p>
</div>

<%= form_for(@test, url: test_path) do |test| %>
  <div>
    <%= test.label :content, "テスト" %>
    <%= test.text_field :content, id: :content  %>
  </div>
  <%= test.submit %>
<% end %>


<p><a href = "/user/info">ユーザ登録画面へ</a></p>
