<h1>ユーザ一覧画面</h1>

<div>
  <table border = 1 width = "60%" class="user_table">
    <tr>
      <th>名前</th>
      <th>住所</th>
      <th>連絡先</th>
    </tr>
    <% @user.each do |user| %>
      <tr>
        <th>
          <%= user.user_name %>
        </th>
        <th>
          <%= user.user_adress %>
        </th>
        <th>
          <%= user.user_email %>
      </th>
    </tr>
    <% end %>
  </table>
</div>

<div>
  <p><a href = "/user/info">ユーザ登録画面へ</a><p>
</div>
